[Unit]
Description=Flask Application
After=network.target

[Service]
User=flask
WorkingDirectory=/opt/flask_app
ExecStart=/usr/bin/python3 app.py --workers {{ flask_workers }}
Restart=always

[Install]
WantedBy=multi-user.target
